<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineExaminationSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driverClass</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:XE</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>system</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>password</param-value>
  </context-param>
  <context-param>
    <param-name>size</param-name>
    <param-value>30</param-value>
  </context-param>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>info.24technologies@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>P7mjixsrvhk</param-value>
  </context-param>
  <listener>
    <listener-class>com.lara.oes.connnection.AppLifeCycleListeners</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.lara.oes.admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetAdminDashboard</display-name>
    <servlet-name>SetAdminDashboard</servlet-name>
    <servlet-class>com.lara.oes.admin.SetAdminDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAdminDashboard</servlet-name>
    <url-pattern>/SetAdminDashboard.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetSubject</display-name>
    <servlet-name>SetSubject</servlet-name>
    <servlet-class>com.lara.oes.admin.SetSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSubject</servlet-name>
    <url-pattern>/SetSubject.htm</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>SetNewSubject</display-name>
    <servlet-name>SetNewSubject</servlet-name>
    <servlet-class>com.lara.oes.admin.SetNewSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetNewSubject</servlet-name>
    <url-pattern>/SetNewSubject.htm</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SubmitSubject</display-name>
    <servlet-name>SubmitSubject</servlet-name>
    <servlet-class>com.lara.oes.admin.SubmitSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitSubject</servlet-name>
    <url-pattern>/SubmitSubject.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetUpdateSubject</display-name>
    <servlet-name>SetUpdateSubject</servlet-name>
    <servlet-class>com.lara.oes.admin.SetUpdateSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetUpdateSubject</servlet-name>
    <url-pattern>/SetUpdateSubject.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSubjectFinal</display-name>
    <servlet-name>UpdateSubjectFinal</servlet-name>
    <servlet-class>com.lara.oes.admin.UpdateSubjectFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSubjectFinal</servlet-name>
    <url-pattern>/UdateSubjectFinal.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllSubject</display-name>
    <servlet-name>ShowAllSubject</servlet-name>
    <servlet-class>com.lara.oes.admin.ShowAllSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllSubject</servlet-name>
    <url-pattern>/showallSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllSubjectName</display-name>
    <servlet-name>ShowAllSubjectName</servlet-name>
    <servlet-class>com.lara.oes.admin.ShowAllSubjectName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllSubjectName</servlet-name>
    <url-pattern>/ShowAllSubjectName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetDeleteSubject</display-name>
    <servlet-name>SetDeleteSubject</servlet-name>
    <servlet-class>com.lara.oes.admin.SetDeleteSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetDeleteSubject</servlet-name>
    <url-pattern>/SetDeleteSubject.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllSubjectForDelete</display-name>
    <servlet-name>ShowAllSubjectForDelete</servlet-name>
    <servlet-class>com.lara.oes.admin.ShowAllSubjectForDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllSubjectForDelete</servlet-name>
    <url-pattern>/showallSubjectForDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSubjectFinal</display-name>
    <servlet-name>DeleteSubjectFinal</servlet-name>
    <servlet-class>com.lara.oes.admin.DeleteSubjectFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubjectFinal</servlet-name>
    <url-pattern>/DeleteSubjectFinal.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetTopic</display-name>
    <servlet-name>SetTopic</servlet-name>
    <servlet-class>com.lara.oes.admin.SetTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetTopic</servlet-name>
    <url-pattern>/SetTopic.htm</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>SetNewTopic</display-name>
    <servlet-name>SetNewTopic</servlet-name>
    <servlet-class>com.lara.oes.admin.SetNewTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetNewTopic</servlet-name>
    <url-pattern>/SetNewTopic.htm</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ShowAllTopic</display-name>
    <servlet-name>ShowAllTopic</servlet-name>
    <servlet-class>com.lara.oes.admin.ShowAllTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllTopic</servlet-name>
    <url-pattern>/showalltopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitTopic</display-name>
    <servlet-name>SubmitTopic</servlet-name>
    <servlet-class>com.lara.oes.admin.SubmitTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitTopic</servlet-name>
    <url-pattern>/SubmitTopic.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetUpdateTopic</display-name>
    <servlet-name>SetUpdateTopic</servlet-name>
    <servlet-class>com.lara.oes.admin.SetUpdateTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetUpdateTopic</servlet-name>
    <url-pattern>/SetUpdateTopic.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllTopicNameAndDesc</display-name>
    <servlet-name>ShowAllTopicNameAndDesc</servlet-name>
    <servlet-class>com.lara.oes.admin.ShowAllTopicNameAndDesc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllTopicNameAndDesc</servlet-name>
    <url-pattern>/ShowAllTopicNameAndDesc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTopicFinal</display-name>
    <servlet-name>UpdateTopicFinal</servlet-name>
    <servlet-class>com.lara.oes.admin.UpdateTopicFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTopicFinal</servlet-name>
    <url-pattern>/UpdateTopicFinal.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetDeleteTopic</display-name>
    <servlet-name>SetDeleteTopic</servlet-name>
    <servlet-class>com.lara.oes.admin.SetDeleteTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetDeleteTopic</servlet-name>
    <url-pattern>/SetDeleteTopic.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTopicFinal</display-name>
    <servlet-name>DeleteTopicFinal</servlet-name>
    <servlet-class>com.lara.oes.admin.DeleteTopicFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTopicFinal</servlet-name>
    <url-pattern>/DeleteTopicFinal.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetSearch</display-name>
    <servlet-name>SetSearch</servlet-name>
    <servlet-class>com.lara.oes.admin.SetSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSearch</servlet-name>
    <url-pattern>/SetSearch.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchSubject</display-name>
    <servlet-name>SearchSubject</servlet-name>
    <servlet-class>com.lara.oes.admin.SearchSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSubject</servlet-name>
    <url-pattern>/SearchBySubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetSearchTopic</display-name>
    <servlet-name>SetSearchTopic</servlet-name>
    <servlet-class>com.lara.oes.admin.SetSearchTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSearchTopic</servlet-name>
    <url-pattern>/SetSearchTopic.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTopic</display-name>
    <servlet-name>SearchTopic</servlet-name>
    <servlet-class>com.lara.oes.admin.SearchTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTopic</servlet-name>
    <url-pattern>/SearchByTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetSearchQuestion</display-name>
    <servlet-name>SetSearchQuestion</servlet-name>
    <servlet-class>com.lara.oes.admin.SetSearchQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSearchQuestion</servlet-name>
    <url-pattern>/SetSearchQuestion.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchQuestion</display-name>
    <servlet-name>SearchQuestion</servlet-name>
    <servlet-class>com.lara.oes.admin.SearchQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchQuestion</servlet-name>
    <url-pattern>/SearchByQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetQuestion</display-name>
    <servlet-name>SetQuestion</servlet-name>
    <servlet-class>com.lara.oes.admin.SetQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetQuestion</servlet-name>
    <url-pattern>/SetQuestion.htm</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>SetNewQuestion</display-name>
    <servlet-name>SetNewQuestion</servlet-name>
    <servlet-class>com.lara.oes.admin.SetNewQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetNewQuestion</servlet-name>
    <url-pattern>/SetNewQuestion.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitQuestions</display-name>
    <servlet-name>SubmitQuestions</servlet-name>
    <servlet-class>com.lara.oes.admin.SubmitQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitQuestions</servlet-name>
    <url-pattern>/SubmitQuestions.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetUpdateQuestion</display-name>
    <servlet-name>SetUpdateQuestion</servlet-name>
    <servlet-class>com.lara.oes.admin.SetUpdateQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetUpdateQuestion</servlet-name>
    <url-pattern>/SetUpdateQuestion.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowQuestionDTopicAndSubject</display-name>
    <servlet-name>ShowQuestionDTopicAndSubject</servlet-name>
    <servlet-class>com.lara.oes.admin.ShowQuestionDTopicAndSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowQuestionDTopicAndSubject</servlet-name>
    <url-pattern>/ShowQuestionDTopicAndSubject.htm</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>SetUpdateQuestionFinal</display-name>
    <servlet-name>SetUpdateQuestionFinal</servlet-name>
    <servlet-class>com.lara.oes.admin.SetUpdateQuestionFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetUpdateQuestionFinal</servlet-name>
    <url-pattern>/SetUpdateQuestionFinal.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateQuestionFinal</display-name>
    <servlet-name>UpdateQuestionFinal</servlet-name>
    <servlet-class>com.lara.oes.admin.UpdateQuestionFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuestionFinal</servlet-name>
    <url-pattern>/UpdateQuestionFinal.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetDeleteQuestion</display-name>
    <servlet-name>SetDeleteQuestion</servlet-name>
    <servlet-class>com.lara.oes.admin.SetDeleteQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetDeleteQuestion</servlet-name>
    <url-pattern>/SetDeleteQuestion.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteQuestionFinal</display-name>
    <servlet-name>DeleteQuestionFinal</servlet-name>
    <servlet-class>com.lara.oes.admin.DeleteQuestionFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuestionFinal</servlet-name>
    <url-pattern>/DeleteQuestionFinal.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetQuestionPaper</display-name>
    <servlet-name>SetQuestionPaper</servlet-name>
    <servlet-class>com.lara.oes.admin.SetQuestionPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetQuestionPaper</servlet-name>
    <url-pattern>/SetQuestionPaper.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateQuestionPaperStatus</display-name>
    <servlet-name>UpdateQuestionPaperStatus</servlet-name>
    <servlet-class>com.lara.oes.admin.UpdateQuestionPaperStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuestionPaperStatus</servlet-name>
    <url-pattern>/updateStatus.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteQuestionPaper</display-name>
    <servlet-name>DeleteQuestionPaper</servlet-name>
    <servlet-class>com.lara.oes.admin.DeleteQuestionPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuestionPaper</servlet-name>
    <url-pattern>/DeleteQuestionPaper.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowQuestionPaperDetails</display-name>
    <servlet-name>ShowQuestionPaperDetails</servlet-name>
    <servlet-class>com.lara.oes.admin.ShowQuestionPaperDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowQuestionPaperDetails</servlet-name>
    <url-pattern>/ShowQuestionPaperDetails.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetNewQuestionPaper</display-name>
    <servlet-name>SetNewQuestionPaper</servlet-name>
    <servlet-class>com.lara.oes.admin.SetNewQuestionPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetNewQuestionPaper</servlet-name>
    <url-pattern>/SetNewQuestionPaper.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetQuestionSelect</display-name>
    <servlet-name>SetQuestionSelect</servlet-name>
    <servlet-class>com.lara.oes.admin.SetQuestionSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetQuestionSelect</servlet-name>
    <url-pattern>/SetQuestionSelect.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowQuestionDTopic</display-name>
    <servlet-name>ShowQuestionDTopic</servlet-name>
    <servlet-class>com.lara.oes.admin.ShowQuestionDTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowQuestionDTopic</servlet-name>
    <url-pattern>/ShowQuestionDTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionSelectFinal</display-name>
    <servlet-name>QuestionSelectFinal</servlet-name>
    <servlet-class>com.lara.oes.admin.QuestionSelectFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionSelectFinal</servlet-name>
    <url-pattern>/QuestionSelectFinal.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setStudentLogin</display-name>
    <servlet-name>setStudentLogin</servlet-name>
    <servlet-class>com.lara.oes.student.setStudentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setStudentLogin</servlet-name>
    <url-pattern>/setStudentLogin.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLogin</display-name>
    <servlet-name>StudentLogin</servlet-name>
    <servlet-class>com.lara.oes.student.StudentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogin</servlet-name>
    <url-pattern>/StudentLogin.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetExam</display-name>
    <servlet-name>SetExam</servlet-name>
    <servlet-class>com.lara.oes.student.SetExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetExam</servlet-name>
    <url-pattern>/SetExam.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetChooseQuesPaper</display-name>
    <servlet-name>SetChooseQuesPaper</servlet-name>
    <servlet-class>com.lara.oes.student.SetChooseQuesPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetChooseQuesPaper</servlet-name>
    <url-pattern>/SetChooseQuesPaper.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetExamTwo</display-name>
    <servlet-name>SetExamTwo</servlet-name>
    <servlet-class>com.lara.oes.student.SetExamTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetExamTwo</servlet-name>
    <url-pattern>/SetExamTwo.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoExamStart</display-name>
    <servlet-name>DoExamStart</servlet-name>
    <servlet-class>com.lara.oes.student.DoExamStart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoExamStart</servlet-name>
    <url-pattern>/DoExamStart.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitQuesAndReturnNextQues</display-name>
    <servlet-name>SubmitQuesAndReturnNextQues</servlet-name>
    <servlet-class>com.lara.oes.student.SubmitQuesAndReturnNextQues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitQuesAndReturnNextQues</servlet-name>
    <url-pattern>/SubmitAndNextQues.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowQuesDescResQuesId</display-name>
    <servlet-name>ShowQuesDescResQuesId</servlet-name>
    <servlet-class>com.lara.oes.student.ShowQuesDescResQuesId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowQuesDescResQuesId</servlet-name>
    <url-pattern>/ShowQuesDescResQuesId.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowQuesIdsStatus</display-name>
    <servlet-name>ShowQuesIdsStatus</servlet-name>
    <servlet-class>com.lara.oes.student.ShowQuesIdsStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowQuesIdsStatus</servlet-name>
    <url-pattern>/ShowQuesIdsStatus.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetResult</display-name>
    <servlet-name>SetResult</servlet-name>
    <servlet-class>com.lara.oes.student.SetResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetResult</servlet-name>
    <url-pattern>/SetResult.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetExamSummary</display-name>
    <servlet-name>SetExamSummary</servlet-name>
    <servlet-class>com.lara.oes.student.SetExamSummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetExamSummary</servlet-name>
    <url-pattern>/SetExamSummary.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCheck</display-name>
    <servlet-name>UpdateCheck</servlet-name>
    <servlet-class>com.lara.oes.student.UpdateCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCheck</servlet-name>
    <url-pattern>/UpdateCheck</url-pattern>
  </servlet-mapping>
</web-app>